version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: piggypal_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      TZ: Europe/Warsaw
      POSTGRES_USER: piggy
      POSTGRES_PASSWORD: qwerty
      POSTGRES_DB: piggypal_db
    volumes:
      - ./pgdata:/var/lib/postgresql/data

